.col-sm-4.col-md-3.proto-content
  .thumbnail
    %a{ href: "" }
      = image_tag("sample.png")
      .caption
        %h3 Salvation Army on iPad App Wireframe
        .proto-meta
          .proto-user
            %a{ href: "#" } by user
          .proto-posted
            Apr 26
        %ul.proto-tag-list.list-inline
          %li
            %a{ href: "#", class: "btn btn-default" } iPad
          %li