.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.active{ role: "presentation" }
          %a{ href: "#" } Popular PROTO
        %li{ role: "presentation" }
          %a{ href: "#" } Newest PROTO
      = render partial: "common/view_tag_button"

.container.proto-list
  .row
    - if @prototypes
      = render @prototypes
    - else
      nothing

.text-center
  %ul.pagination
    = paginate @prototypes
